@model FiwFriends.Models.DetailPost

@inject Microsoft.AspNetCore.Identity.UserManager<FiwFriends.Models.User> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
}

@{  //Razor view of home's index
    ViewData["Title"] = "Detail Page";
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="card-header">@Model.Activity</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>@Model.Owner</div>
                                <div>like</div>
                            </div>
                            <div>@Model.AppointmentTime</div>
                            <div class="place-and-gruop">
                                <div >@Model.Location</div>
                                <div >@Model.ParticipantsCount</div>
                            </div>
                            <button class="genre-item">food</button>
                            <div class="detail">@Model.Description</div>
                            <div class="question">
                                <div class="question-container" id="1">
                                        <p>Question : กินเนื้อได้ไหม</p>
                                        <input class="" type="text">
                                </div>
                            </div>

                            <div class="people">
                                <p>People who have already joined</p>
                                <div class="people-container">
                                        <div>user101</div>
                                        <div>user102</div>
                                        <div>user103</div>
                                </div>
                            </div>
                            <a class="btn" asp-action="">back</a>
                            <button class="btn right">join</button>
                        </div>
                    </div>

            </div>

        </div>

</div>