@model FiwFriends.Models.DetailPost

@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

@{  //Razor view of home's index
    ViewData["Title"] = "Detail Page";
}



<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="card-header">@Model.Activity</div>
                        <div class="card-body pb-20">
                            <div class="user-and-like">
                                <div>@Model.Owner</div>
                                <div>like</div>
                            </div>
                            <div>Appointment : @Model.AppointmentTime.DayOfWeek, @Model.AppointmentTime.LocalDateTime</div>
                            <div>Due : @Model.ExpiredTime.DayOfWeek, @Model.ExpiredTime.LocalDateTime</div>
                            <div class="place-and-gruop">
                                <div >@Model.Location</div>
                                <div >@Model.ParticipantsCount / @Model.Limit people</div>
                            </div>
                            <div>@foreach (var tag in Model.Tags)
                                {
                                    <div class="tag add-border">@tag.Name</div>
                                }
                            </div>
                            <div class="detail">@Model.Description</div>

                            <form asp-action="submit" asp-controller="Form">
                                <input type="hidden" name="PostId" value="@Model.PostId" />
                                <div class="question">
                                    @{ int index = 0; }
                                    @foreach (var question in Model.Questions)
                                    {
                                        <p class="algn-start login-p">Question : @question.Content</p>
                                        <div class="question-container">
                                            <input type="hidden" name="Answers[@index].QuestionId" value="@question.QuestionId" />
                                            <input class="question-input" type="text" name="Answers[@index].Content">
                                        </div>
                                        index++;
                                    }
                                    
                                </div>

                                <div class="people-container">
                                    @if (Model.Participants.Any())
                                    {
                                        <p>People who have already joined</p>
                                        <div class="people">
                                            @foreach (var user in Model.Participants)
                                            {
                                                <div class="user">@user.UserName</div>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p>No people join yet!</p>
                                    }
                                            
                                    
                                </div>

                                <div class="button-container ml-0">
                                    <a class="btn" asp-action="">back</a>
                                    <button type="submit" class="btn">Join</button>
                                </div>

                            </form>
                        </div>
                            
                    </div>

            </div>

        </div>

</div>