@model IEnumerable<FiwFriends.Models.IndexPost>

@{  //Razor view of home's index
    ViewData["Title"] = "MyPosts Page";
}

@section Scripts {
      <script src="~/js/favorite.js"></script>
}

@section Styles {
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                @if (Model.Any())
                {

                <div class="category">

                    @foreach (var post in Model)
                    {

                        string userUrl = post.Owner.ProfilePic != null
                            ? $"data:image/png;base64,{Convert.ToBase64String(post.Owner.ProfilePic)}"
                            : "https://ultrasabers.com/wp-content/uploads/2018/05/DarthVader.jpg";

                        <div class="card">
                            <div class="card-header">@post.Activity</div>
                            <div class="card-body">
                                <div class="user-and-like">
                                    <div class="user-container">
                                        <div class="user-img" style="background-image: url('@userUrl');"></div>
                                        <div><b>@post.Owner</b></div>
                                    </div>
                                    <button class="fav-btn" data-post-id="@post.PostId" data-is-fav="@post.IsFav">
                                        <svg viewBox="0 0 24 24" fill="@((post.IsFav) ? "#FF8A80" : "none")" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
                                            <path d="M4.45067 13.9082L11.4033 20.4395C11.6428 20.6644 11.7625 20.7769 11.9037 20.8046C11.9673 20.8171 12.0327 20.8171 12.0963 20.8046C12.2375 20.7769 12.3572 20.6644 12.5967 20.4395L19.5493 13.9082C21.5055 12.0706 21.743 9.0466 20.0978 6.92607L19.7885 6.52734C17.8203 3.99058 13.8696 4.41601 12.4867 7.31365C12.2913 7.72296 11.7087 7.72296 11.5133 7.31365C10.1304 4.41601 6.17972 3.99058 4.21154 6.52735L3.90219 6.92607C2.25695 9.0466 2.4945 12.0706 4.45067 13.9082Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>

                                    

                                </div>

                                 <div style="display: flex; align-items: center; gap: 4px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00000">
                                    <path d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                                    </svg>
                                    <div>@post.AppointmentTime.DayOfWeek, @post.AppointmentTime.DateTime</div>
                                </div>

                                <div style="display: flex; align-items: center; gap: 4px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#000000" style="min-width: 25px;">
                                        <path d="M480-480q33 0 56.5-23.5T560-560q0-33-23.5-56.5T480-640q-33 0-56.5 23.5T400-560q0 33 23.5 56.5T480-480Zm0 294q122-112 181-203.5T720-552q0-109-69.5-178.5T480-800q-101 0-170.5 69.5T240-552q0 71 59 162.5T480-186Zm0 106Q319-217 239.5-334.5T160-552q0-150 96.5-239T480-880q127 0 223.5 89T800-552q0 100-79.5 217.5T480-80Zm0-480Z"/>
                                    </svg>
                                    <div class="location">@post.Location</div>
                                </div>
                                
                                <div style="display: flex; align-items: center; gap: 4px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00000" style="min-width: 30px;">
                                    <path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/>
                                    </svg>
                                    <div >@post.ParticipantsCount / @post.Limit people</div>
                                </div>


                                <div>
                                    <div>@foreach (var tag in post.Tags)
                                        {
                                            <div class="tag add-border">@await Html.PartialAsync("Tag/_"+@tag.Name)</div>
                                        }
                                    </div>
                                </div>
                                <div class="detail">
                                    @post.Description
                                </div>
                                <a class="btn right" asp-controller="Post" asp-action="Detail" asp-route-id="@post.PostId">Info</a>
                            </div>
                        </div>
                    }

                </div>
                }
                else
                {
                    <h1 style="text-align: center; color: rgba(24, 24, 24, 0.75)">You don't have any posts you like yet.</h1>
                }

            </div>

        </div>

</div>