@model IEnumerable<FiwFriends.Models.IndexPost>

@{  //Razor view of home's index
    ViewData["Title"] = "MyPosts Page";
}

@section Scripts {
      <script src="~/js/favorite.js"></script>
}

@section Styles {
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                @if (Model.Any())
                {

                <div class="category">

                    @foreach (var post in Model)
                    {

                        string userUrl = post.Owner.ProfilePic != null
                            ? $"data:image/png;base64,{Convert.ToBase64String(post.Owner.ProfilePic)}"
                            : "https://ultrasabers.com/wp-content/uploads/2018/05/DarthVader.jpg";

                        <div class="card">
                            <div class="card-header">@post.Activity</div>
                            <div class="card-body">
                                <div class="user-and-like">
                                    <div class="user-container">
                                        <div class="user-img" style="background-image: url('@userUrl');"></div>
                                        <div>@post.Owner</div>
                                    </div>
                                    <button class="fav-btn" data-post-id="@post.PostId" data-is-fav="@post.IsFav">
                                        <svg viewBox="0 0 24 24" fill="@((post.IsFav) ? "#FF8A80" : "none")" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px">
                                            <path d="M4.45067 13.9082L11.4033 20.4395C11.6428 20.6644 11.7625 20.7769 11.9037 20.8046C11.9673 20.8171 12.0327 20.8171 12.0963 20.8046C12.2375 20.7769 12.3572 20.6644 12.5967 20.4395L19.5493 13.9082C21.5055 12.0706 21.743 9.0466 20.0978 6.92607L19.7885 6.52734C17.8203 3.99058 13.8696 4.41601 12.4867 7.31365C12.2913 7.72296 11.7087 7.72296 11.5133 7.31365C10.1304 4.41601 6.17972 3.99058 4.21154 6.52735L3.90219 6.92607C2.25695 9.0466 2.4945 12.0706 4.45067 13.9082Z"
                                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </button>

                                    

                                </div>

                                <div>@post.AppointmentTime.DayOfWeek, @post.AppointmentTime.DateTime</div>


                                <div >@post.Location</div>
                                <div >@post.ParticipantsCount / @post.Limit people</div>

                                <div>
                                    <div>@foreach (var tag in post.Tags)
                                        {
                                            <div class="tag add-border">@tag.Name</div>
                                        }
                                    </div>
                                </div>
                                <div class="detail">
                                    @post.Description
                                </div>
                                <a class="btn right" asp-controller="Post" asp-action="Detail" asp-route-id="@post.PostId">join</a>
                            </div>
                        </div>
                    }

                </div>
                }
                else
                {
                    <h1 style="text-align: center; color: rgba(24, 24, 24, 0.75)">You don't have any posts you like yet.</h1>
                }

            </div>

        </div>

</div>