@model IEnumerable<FiwFriends.Models.IndexPost>

@{  //Razor view of home's index
    ViewData["Title"] = "Home Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="property">
                    <div class="search-container">
                        <input name="" id="" class="search-text"></input>
                        <a href="">search</a>
                    </div>
                    <a class="new-post"  href="/Post/Create">Create New Post</a>
                </div>

                <div class="tag-container">
                
                    <button class="tag">Food</button>
                    <button class="tag">Drink beer</button>
                    <button class="tag">Gym</button>
                    <button class="tag">Sport</button>

                </div>



                <div class="category">

                    
                    @foreach (var post in Model)
                    {
                    <div class="card">
                        <div class="card-header">@post.Activity</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>@post.Owner</div>
                                <div>like</div>
                            </div>
                            <div>@post.AppointmentTime</div>
                            <div class="place-and-gruop">
                                <div >@post.Location</div>
                                <div >@post.ParticipantsCount people</div>
                            </div>
                            <div>
                                <div>@foreach (var tag in post.Tags)
                                    {
                                        <div class="tag add-border">@tag.Name</div>
                                    }
                                </div>
                            </div>
                            <div class="detail">
                                @post.Description
                            </div>
                            <a class="btn right" asp-controller="Post" asp-action="Detail" asp-route-id="@post.PostId">join</a>
                        </div>
                    </div>
                    }

                    
                </div>

            </div>

        </div>

</div>