@model IEnumerable<FiwFriends.Models.IndexPost>

@{  //Razor view of home's index
    ViewData["Title"] = "Home Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="property">
                    <div class="property-search">
                        search
                    </div>
                    <a class="navbar-item"  href="/Post/Create">Create New Post</a>
                </div>

                <select class="tag" name="tag" id="id_tag" multiple>
                    <option value="1">Drink beer</option>
                    <option value="2">Gym</option>
                    <option value="3">Buffet</option>
                </select>

                <div class="category">
                    @foreach (var post in Model)
                    {
                    <div class="card">
                        <div class="card-header">@post.Activity</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>@post.Owner</div>
                                <div>like</div>
                            </div>
                            <div>@post.AppointmentTime</div>
                            <div class="place-and-gruop">
                                <div >@post.Location</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                @post.Description
                            </div>
                            <a class="btn right" asp-controller="Post" asp-action="Detail" asp-route-id="@post.PostId">join</a>
                        </div>
                    </div>
                    }

                    
                </div>

            </div>

        </div>

</div>