@model IEnumerable<FiwFriends.Models.UserPendingStatusViewModel>

@{  //Razor view of home's index
    ViewData["Title"] = "Pending Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="status-container">
                                <a asp-controller="User" asp-action="UserInboxStatus" class="inbox-btn">
                                        <svg viewBox="0 0 24 24" fill="transparent" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px">
                                                <path d="M3 12V15.8C3 16.9201 3 17.4802 3.21799 17.908C3.40973 18.2843 3.71569 18.5903 4.09202 18.782C4.51984 19 5.0799 19 6.2 19H17.8C18.9201 19 19.4802 19 19.908 18.782C20.2843 18.5903 20.5903 18.2843 20.782 17.908C21 17.4802 21 16.9201 21 15.8V12M3 12H6.67452C7.16369 12 7.40829 12 7.63846 12.0553C7.84254 12.1043 8.03763 12.1851 8.21657 12.2947C8.4184 12.4184 8.59136 12.5914 8.93726 12.9373L9.06274 13.0627C9.40865 13.4086 9.5816 13.5816 9.78343 13.7053C9.96237 13.8149 10.1575 13.8957 10.3615 13.9447C10.5917 14 10.8363 14 11.3255 14H12.6745C13.1637 14 13.4083 14 13.6385 13.9447C13.8425 13.8957 14.0376 13.8149 14.2166 13.7053C14.4184 13.5816 14.5914 13.4086 14.9373 13.0627L15.0627 12.9373C15.4086 12.5914 15.5816 12.4184 15.7834 12.2947C15.9624 12.1851 16.1575 12.1043 16.3615 12.0553C16.5917 12 16.8363 12 17.3255 12H21M3 12L5.32639 6.83025C5.78752 5.8055 6.0181 5.29312 6.38026 4.91755C6.70041 4.58556 7.09278 4.33186 7.52691 4.17615C8.01802 4 8.57988 4 9.70361 4H14.2964C15.4201 4 15.982 4 16.4731 4.17615C16.9072 4.33186 17.2996 4.58556 17.6197 4.91755C17.9819 5.29312 18.2125 5.8055 18.6736 6.83025L21 12" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                        SUBMITTED
                                </a> 
                                <a asp-controller="User" asp-action="UserPendingStatus" class="pending-btn">
                                        <svg viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="45px" height="45px">
                                                <path d="M511.9 183c-181.8 0-329.1 147.4-329.1 329.1s147.4 329.1 329.1 329.1c181.8 0 329.1-147.4 329.1-329.1S693.6 183 511.9 183z m0 585.2c-141.2 0-256-114.8-256-256s114.8-256 256-256 256 114.8 256 256-114.9 256-256 256z" fill="#0F1F3C"></path>
                                                <path d="M548.6 365.7h-73.2v161.4l120.5 120.5 51.7-51.7-99-99z" fill="#0F1F3C"></path>
                                        </svg>
                                        PENDING
                                </a>
                        </div>

                        <div class="table-container">

                                <table class="scroll-table">
                                <tr class="head">
                                        <th class="table-head">Post Details</th>
                                </tr>
                                @if (Model.Any())
                                {

                                        @foreach (var info in Model)
                                        {
                                                <tr class="border-bottom">
                                                        <td class="table-head spacing">
                                                                <div class="user-and-like">
                                                                        <div class="activity">@info.Activity</div>
                                                                        <div class="@info.Status">@info.Status</div>
                                                                </div>

                                                                <div><b>@info.Username</b></div>
                                                                
                                                                @foreach (var question in info.QnAs)
                                                                {
                                                                        <div>Question : @question.Question</div>
                                                                        <div class="answer_detail">@question.Answer</div>
                                                                }
                                                                <div style="display: flex; justify-content: space-between; align-items: center;">
                                                                        <div class="button-container ml-0 mt-0">
                                                                                <form asp-action="Reject" asp-controller="Form" asp-route-formid="@info.FormId" method="post">
                                                                                        <button type="submit" class="btn_reject">rejects</button>
                                                                                </form>
                                                                                <form asp-action="Approve" asp-controller="Form" asp-route-formid="@info.FormId" method="post">
                                                                                        <button type="submit" class="btn_accept">accept</button>
                                                                                </form>
                                                                        </div>
                                                                        <a class="detail-btn" asp-controller="Post" asp-action="Detail" asp-route-id="@info.PostId">See post</a>
                                                                        
                                                                </div>
                                                        </td>
                                                </tr>

                                                
                                                <td>
                                                        
                                                        
                                                </td>
                                        }
                                }

                                </table>
                        </div>
                        @if (Model.Any() == false)
                        {
                                <h1 style="text-align: center; color: rgba(24, 24, 24, 0.75)">There is no history of responding to posts.</h1>
                        }
                    </div>

            </div>

        </div>

</div>